:root{
    /*? =========== paleta de cores =========== */
    --bg-color-primary : #e2e2e2;
    --bg-color-secundary : #E6D7C5;

    --bg-button-primary : #00A793;
    --bg-button-secundary : #424242;

    --text-color-primary : #222222;
    --text-color-secundary: #898989;


  
}

body.darck_theme{
    --bg-color-primary : #e2e2e2;
    --bg-color-secundary : #E6D7C5;

    --bg-button-primary : #00A793;
    --bg-button-secundary : #424242;

    --text-color-primary : #222222;
    --text-color-secundary: #898989;
}
/* 
header{}
.hero-section-header{}
.hero-section-header-logo{}
.hero-section-header-actions{}
.logo{}
.header-img{}
.logo-text{}
.logo-title{}
.logo-subtitle{}
.main-nav{}
.nav-link{}
.active{}
.header-actions{}
.btn-login{}
.btn-cadastro{}
*/